## Feature_Engineering_Handeling_Categorical_Missing_Values

##### Ordinal Number Encoding

In [1]:
import datetime

In [2]:
todays_date=datetime.datetime.today()

In [3]:
todays_date

datetime.datetime(2020, 8, 1, 8, 27, 4, 79584)

In [4]:
# Decrease the date by specified number
todays_date-datetime.timedelta(1)

datetime.datetime(2020, 7, 31, 8, 27, 4, 79584)

In [5]:
todays_date-datetime.timedelta(2)

datetime.datetime(2020, 7, 30, 8, 27, 4, 79584)

In [6]:
days_data=[todays_date-datetime.timedelta(x) for x in range(0,16)]

In [7]:
days_data

[datetime.datetime(2020, 8, 1, 8, 27, 4, 79584),
 datetime.datetime(2020, 7, 31, 8, 27, 4, 79584),
 datetime.datetime(2020, 7, 30, 8, 27, 4, 79584),
 datetime.datetime(2020, 7, 29, 8, 27, 4, 79584),
 datetime.datetime(2020, 7, 28, 8, 27, 4, 79584),
 datetime.datetime(2020, 7, 27, 8, 27, 4, 79584),
 datetime.datetime(2020, 7, 26, 8, 27, 4, 79584),
 datetime.datetime(2020, 7, 25, 8, 27, 4, 79584),
 datetime.datetime(2020, 7, 24, 8, 27, 4, 79584),
 datetime.datetime(2020, 7, 23, 8, 27, 4, 79584),
 datetime.datetime(2020, 7, 22, 8, 27, 4, 79584),
 datetime.datetime(2020, 7, 21, 8, 27, 4, 79584),
 datetime.datetime(2020, 7, 20, 8, 27, 4, 79584),
 datetime.datetime(2020, 7, 19, 8, 27, 4, 79584),
 datetime.datetime(2020, 7, 18, 8, 27, 4, 79584),
 datetime.datetime(2020, 7, 17, 8, 27, 4, 79584)]

In [8]:
#Now this is list we need to convert it into dataframe
import pandas as pd

data=pd.DataFrame(days_data)

In [9]:
data.head()

                           0
0 2020-08-01 08:27:04.079584
1 2020-07-31 08:27:04.079584
2 2020-07-30 08:27:04.079584
3 2020-07-29 08:27:04.079584
4 2020-07-28 08:27:04.079584

In [10]:
data.columns=['Day']

In [11]:
data.head()

                         Day
0 2020-08-01 08:27:04.079584
1 2020-07-31 08:27:04.079584
2 2020-07-30 08:27:04.079584
3 2020-07-29 08:27:04.079584
4 2020-07-28 08:27:04.079584

In [12]:
data['weekday']=data['Day'].dt.day_name()
data.head()

                         Day    weekday
0 2020-08-01 08:27:04.079584   Saturday
1 2020-07-31 08:27:04.079584     Friday
2 2020-07-30 08:27:04.079584   Thursday
3 2020-07-29 08:27:04.079584  Wednesday
4 2020-07-28 08:27:04.079584    Tuesday

In [13]:
my_day=data['weekday'].unique()

In [14]:
my_day

array(['Saturday', 'Friday', 'Thursday', 'Wednesday', 'Tuesday', 'Monday',
       'Sunday'], dtype=object)

In [15]:
my_day_list=list(my_day)

In [16]:
my_day_list

['Saturday', 'Friday', 'Thursday', 'Wednesday', 'Tuesday', 'Monday', 'Sunday']

In [17]:
ready_to_map={k:i for i,k in enumerate(my_day_list,0)}

In [18]:
ready_to_map

{'Saturday': 0,
 'Friday': 1,
 'Thursday': 2,
 'Wednesday': 3,
 'Tuesday': 4,
 'Monday': 5,
 'Sunday': 6}

In [19]:
data['weekday']=data['weekday'].map(ready_to_map)

In [20]:
data.head()

                         Day  weekday
0 2020-08-01 08:27:04.079584        0
1 2020-07-31 08:27:04.079584        1
2 2020-07-30 08:27:04.079584        2
3 2020-07-29 08:27:04.079584        3
4 2020-07-28 08:27:04.079584        4

In [21]:
data

                          Day  weekday
0  2020-08-01 08:27:04.079584        0
1  2020-07-31 08:27:04.079584        1
2  2020-07-30 08:27:04.079584        2
3  2020-07-29 08:27:04.079584        3
4  2020-07-28 08:27:04.079584        4
5  2020-07-27 08:27:04.079584        5
6  2020-07-26 08:27:04.079584        6
7  2020-07-25 08:27:04.079584        0
8  2020-07-24 08:27:04.079584        1
9  2020-07-23 08:27:04.079584        2
10 2020-07-22 08:27:04.079584        3
11 2020-07-21 08:27:04.079584        4
12 2020-07-20 08:27:04.079584        5
13 2020-07-19 08:27:04.079584        6
14 2020-07-18 08:27:04.079584        0
15 2020-07-17 08:27:04.079584        1

##### The same thing could be done using dictionary

## Count or Frequency Encoding

In [22]:
pd.set_option('display.max_columns',None)

In [23]:
dataset=pd.read_csv('train.csv')

In [24]:
dataset.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2003,2003,Gable,CompShg,VinylSd,VinylSd,BrkFace,196.0,Gd,TA,PConc,Gd,TA,No,GLQ,706,Unf,0,150,856,GasA,Ex,Y,SBrkr,856,854,0,1710,1,0,2,1,3,1,Gd,8,Typ,0,NaN,Attchd,2003.0,RFn,2,548,TA,TA,Y,0,61,0,0,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,1Fam,1Story,6,8,1976,1976,Gable,CompShg,MetalSd,MetalSd,None,0.0,TA,TA,CBlock,Gd,TA,Gd,ALQ,978,Unf,0,284,1262,GasA,Ex,Y,SBrkr,1262,0,0,1262,0,1,2,0,3,1,TA,6,Typ,1,TA,Attchd,1976.0,RFn,2,460,TA,TA,Y,298,0,0,0,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2001,2002,Gable,CompShg,VinylSd,VinylSd,BrkFace,162.0,Gd,TA,PConc,Gd,TA,Mn,GLQ,486,Unf,0,434,920,GasA,Ex,Y,SBrkr,920,866,0,1786,1,0,2,1,3,1,Gd,6,Typ,1,TA,Attchd,2001.0,RFn,2,608,TA,TA,Y,0,42,0,0,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,5,1915,1970,Gable,CompShg,Wd Sdng,Wd Shng,None,0.0,TA,TA,BrkTil,TA,Gd,No,ALQ,216,Unf,0,540,756,GasA,Gd,Y,SBrkr,961,756,0,1717,1,0,1,0,3,1,Gd,7,Typ,1,Gd,Detchd,1998.0,Unf,3,642,TA,TA,Y,0,35,272,0,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,1Fam,2Story,8,5,2000,2000,Gable,CompShg,VinylSd,VinylSd,BrkFace,350.0,Gd,TA,PConc,Gd,TA,Av,GLQ,655,Unf,0,490,1145,GasA,Ex,Y,SBrkr,1145,1053,0,2198,1,0,2,1,4,1,Gd,9,Typ,1,TA,Attchd,2000.0,RFn,3,836,TA,TA,Y,192,84,0,0,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [25]:
for feature in dataset.columns:
    print(feature,":",len(dataset[feature].unique()),"labels")

Id : 1460 labels
MSSubClass : 15 labels
MSZoning : 5 labels
LotFrontage : 111 labels
LotArea : 1073 labels
Street : 2 labels
Alley : 3 labels
LotShape : 4 labels
LandContour : 4 labels
Utilities : 2 labels
LotConfig : 5 labels
LandSlope : 3 labels
Neighborhood : 25 labels
Condition1 : 9 labels
Condition2 : 8 labels
BldgType : 5 labels
HouseStyle : 8 labels
OverallQual : 10 labels
OverallCond : 9 labels
YearBuilt : 112 labels
YearRemodAdd : 61 labels
RoofStyle : 6 labels
RoofMatl : 8 labels
Exterior1st : 15 labels
Exterior2nd : 16 labels
MasVnrType : 5 labels
MasVnrArea : 328 labels
ExterQual : 4 labels
ExterCond : 5 labels
Foundation : 6 labels
BsmtQual : 5 labels
BsmtCond : 5 labels
BsmtExposure : 5 labels
BsmtFinType1 : 7 labels
BsmtFinSF1 : 637 labels
BsmtFinType2 : 7 labels
BsmtFinSF2 : 144 labels
BsmtUnfSF : 780 labels
TotalBsmtSF : 721 labels
Heating : 6 labels
HeatingQC : 5 labels
CentralAir : 2 labels
Electrical : 6 labels
1stFlrSF : 753 labels
2ndFlrSF : 417 labels
LowQualFinSF : 24 labels
GrLivArea : 861 labels
BsmtFullBath : 4 labels
BsmtHalfBath : 3 labels
FullBath : 4 labels
HalfBath : 3 labels
BedroomAbvGr : 8 labels
KitchenAbvGr : 4 labels
KitchenQual : 4 labels
TotRmsAbvGrd : 12 labels
Functional : 7 labels
Fireplaces : 4 labels
FireplaceQu : 6 labels
GarageType : 7 labels
GarageYrBlt : 98 labels
GarageFinish : 4 labels
GarageCars : 5 labels
GarageArea : 441 labels
GarageQual : 6 labels
GarageCond : 6 labels
PavedDrive : 3 labels
WoodDeckSF : 274 labels
OpenPorchSF : 202 labels
EnclosedPorch : 120 labels
3SsnPorch : 20 labels
ScreenPorch : 76 labels
PoolArea : 8 labels
PoolQC : 4 labels
Fence : 5 labels
MiscFeature : 5 labels
MiscVal : 21 labels
MoSold : 12 labels
YrSold : 5 labels
SaleType : 9 labels
SaleCondition : 6 labels
SalePrice : 663 labels

In [26]:
dataset['Exterior2nd'].unique()

array(['VinylSd', 'MetalSd', 'Wd Shng', 'HdBoard', 'Plywood', 'Wd Sdng',
       'CmentBd', 'BrkFace', 'Stucco', 'AsbShng', 'Brk Cmn', 'ImStucc',
       'AsphShn', 'Stone', 'Other', 'CBlock'], dtype=object)

In [27]:
dataset['Exterior2nd'].value_counts()

VinylSd    504
MetalSd    214
HdBoard    207
Wd Sdng    197
Plywood    142
CmentBd     60
Wd Shng     38
Stucco      26
BrkFace     25
AsbShng     20
ImStucc     10
Brk Cmn      7
Stone        5
AsphShn      3
CBlock       1
Other        1
Name: Exterior2nd, dtype: int64

In [28]:
ready_to_map=dataset['Exterior2nd'].value_counts().to_dict()

In [29]:
ready_to_map

{'VinylSd': 504,
 'MetalSd': 214,
 'HdBoard': 207,
 'Wd Sdng': 197,
 'Plywood': 142,
 'CmentBd': 60,
 'Wd Shng': 38,
 'Stucco': 26,
 'BrkFace': 25,
 'AsbShng': 20,
 'ImStucc': 10,
 'Brk Cmn': 7,
 'Stone': 5,
 'AsphShn': 3,
 'CBlock': 1,
 'Other': 1}

In [30]:
dataset['Exterior2nd']=dataset['Exterior2nd'].map(ready_to_map)

In [31]:
dataset['Exterior2nd'].head(10)

0    504
1    214
2    504
3     38
4    504
5    504
6    504
7    207
8     38
9    214
Name: Exterior2nd, dtype: int64

In [32]:
dataset.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2003,2003,Gable,CompShg,VinylSd,504,BrkFace,196.0,Gd,TA,PConc,Gd,TA,No,GLQ,706,Unf,0,150,856,GasA,Ex,Y,SBrkr,856,854,0,1710,1,0,2,1,3,1,Gd,8,Typ,0,NaN,Attchd,2003.0,RFn,2,548,TA,TA,Y,0,61,0,0,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,1Fam,1Story,6,8,1976,1976,Gable,CompShg,MetalSd,214,None,0.0,TA,TA,CBlock,Gd,TA,Gd,ALQ,978,Unf,0,284,1262,GasA,Ex,Y,SBrkr,1262,0,0,1262,0,1,2,0,3,1,TA,6,Typ,1,TA,Attchd,1976.0,RFn,2,460,TA,TA,Y,298,0,0,0,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2001,2002,Gable,CompShg,VinylSd,504,BrkFace,162.0,Gd,TA,PConc,Gd,TA,Mn,GLQ,486,Unf,0,434,920,GasA,Ex,Y,SBrkr,920,866,0,1786,1,0,2,1,3,1,Gd,6,Typ,1,TA,Attchd,2001.0,RFn,2,608,TA,TA,Y,0,42,0,0,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,5,1915,1970,Gable,CompShg,Wd Sdng,38,None,0.0,TA,TA,BrkTil,TA,Gd,No,ALQ,216,Unf,0,540,756,GasA,Gd,Y,SBrkr,961,756,0,1717,1,0,1,0,3,1,Gd,7,Typ,1,Gd,Detchd,1998.0,Unf,3,642,TA,TA,Y,0,35,272,0,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,1Fam,2Story,8,5,2000,2000,Gable,CompShg,VinylSd,504,BrkFace,350.0,Gd,TA,PConc,Gd,TA,Av,GLQ,655,Unf,0,490,1145,GasA,Ex,Y,SBrkr,1145,1053,0,2198,1,0,2,1,4,1,Gd,9,Typ,1,TA,Attchd,2000.0,RFn,3,836,TA,TA,Y,192,84,0,0,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

##### With the help of count/frequency method Exterior2nd column successfully converted into numeric value

## Target Guided Ordinal Encoding

In [33]:
dataset=pd.read_csv('Titanic_train.csv',usecols=['Survived','Cabin'])

In [34]:
dataset.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [35]:
dataset['Cabin'].unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [36]:
dataset['Cabin'].fillna('Missing',inplace=True)

In [37]:
dataset.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [38]:
dataset['Cabin'].astype(str)[0]

'Missing'

In [39]:
dataset['Cabin'].astype(str).str[0]

0      M
1      C
2      M
3      C
4      M
      ..
886    M
887    B
888    M
889    C
890    M
Name: Cabin, Length: 891, dtype: object

In [40]:
dataset['Cabin']=dataset['Cabin'].astype(str).str[0]

In [41]:
dataset.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [42]:
dataset.Cabin.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [43]:
dataset.groupby('Cabin')['Survived'].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [44]:
dataset.groupby('Cabin')['Survived'].mean().sort_values()

Cabin
T    0.000000
M    0.299854
A    0.466667
G    0.500000
C    0.593220
F    0.615385
B    0.744681
E    0.750000
D    0.757576
Name: Survived, dtype: float64

In [45]:
dataset.groupby('Cabin')['Survived'].mean().sort_values().index

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [46]:
ordinal_labels=dataset.groupby('Cabin')['Survived'].mean().sort_values().index

In [47]:
ordinal_labels2={k:i for i,k in enumerate(ordinal_labels,0)}
ordinal_labels2

{'T': 0, 'M': 1, 'A': 2, 'G': 3, 'C': 4, 'F': 5, 'B': 6, 'E': 7, 'D': 8}

In [48]:
dataset['Cabin_ordinal_labels']=dataset['Cabin'].map(ordinal_labels2)
dataset.head()

   Survived Cabin  Cabin_ordinal_labels
0         0     M                     1
1         1     C                     4
2         1     M                     1
3         1     C                     4
4         0     M                     1

## Mean Encoding

In [49]:
mean_ordinal=dataset.groupby(['Cabin'])['Survived'].mean().to_dict()
mean_ordinal

{'A': 0.4666666666666667,
 'B': 0.7446808510638298,
 'C': 0.5932203389830508,
 'D': 0.7575757575757576,
 'E': 0.75,
 'F': 0.6153846153846154,
 'G': 0.5,
 'M': 0.29985443959243085,
 'T': 0.0}

In [50]:
dataset['mean_ordinal_encode']=dataset['Cabin'].map(mean_ordinal)
dataset.head()

   Survived Cabin  Cabin_ordinal_labels  mean_ordinal_encode
0         0     M                     1             0.299854
1         1     C                     4             0.593220
2         1     M                     1             0.299854
3         1     C                     4             0.593220
4         0     M                     1             0.299854